<head>
  <link rel='stylesheet' href='../../css/listOfUsers.css' />

</head>
<section id='userTable'>

  <table class='TableContainer'>

    <thead class='headList'>
      <tr>

        <th>Image</th>

        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        {{#if superAdmin}}
          <th>action</th>
        {{/if}}

      </tr>
    </thead>
    <tbody class='tableBody'>
      {{#if superAdmin}}
        {{#each AllUserData}}

          <tr>
            <td><img
                src={{images.imageUrl}}
                alt=''
                height='100px'
                width='100px'
              />
            </td>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>{{role}}</td>

            <td><a href='/edit-user/{{_id}}'>Edit</a></td>
          </tr>
        {{/each}}
      {{else}}
        {{#each AllUserData}}

          <tr>
            <td><img
                src={{images.imageUrl}}
                alt=''
                height='100px'
                width='100px'
              />
            </td>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>{{role}}</td>

          </tr>
        {{/each}}
      {{/if}}

    </tbody>
  </table>
</section>