<form
  method='post'
  enctype='multipart/form-data'
  action='/profile/{{userExist._id}}'
  id='profileContainer'
>
  <div class='profileImageContainer'>
    <img
      src='{{userExist.images.imageUrl}}'
      alt='Profile Image'
      id='profileImage'
    />
    <label for='imageUpload' class='btn' style=''>Select Image</label>
    <input
      id='imageUpload'
      style='visibility:hidden;'
      type='file'
      name='image'
      onchange='previewImage(event)'
      accept='image/*'
    />

    {{!-- <img
      src='{{userExist.images.imageUrl}}'
      alt='Profile  Image'
      width='100px'
      height='100px'
    />
    <i class='fa-solid fa-pen' for='files'></i>
    {{! <label for='files' class='btn'>Select Image</label>
    <input id='files' style='visibility:hidden;' type='file' /> }}
    <input
      type='file'
      placeholder='Change image'
      title='Edit Image'
      name='image'
    /> --}}
  </div>
  <div class='profileDetailsContainer'>
    <div>
      <label for='name'>First Name</label>
      <input type='text' name='name' id='name' value='{{userExist.name}}' />
    </div>

    <div>
      <label for='secondName'>Last Name</label>
      <input
        type='text'
        name='secondName'
        id='secondName'
        value='{{userExist.secondName}}'
      />
    </div>

    <div>
      <label for='email'>Email</label>
      <input
        type='text'
        name='email'
        id='email'
        value='{{userExist.email}}'
        disabled
      />
    </div>
    <div>
      <label for='password'> Old password</label>
      <input type='text' name='password' id='password' />
    </div>
    <div>
      <label for='password'> New password</label>
      <input type='text' name='' id='password' />
    </div>
    <div>
      <label for='phone'>Phone</label>
      <input type='text' name='phone' id='phone' value='{{userExist.phone}}' />
    </div>

    <button>Update</button>
  </div>
</form>