<head>
  
    <link rel='stylesheet' href='../../css/getProductList.css' />
    
</head>

<section> 
  <table>
    <thead>
      <tr class="tableHead">
        <th>Title</th>
        
        <th>Price</th>
        
        <th>Image</th>
        
        <th>Action</th>
      </tr>
    </thead>

    <tbody>

  {{#each productList}}
    <tr class="tableDataRow">

      <td>{{title}}</td>
       {{#if price}}
      <td>{{price}} $</td>
           {{/if}}
             {{#if price}}
      <td> <img
        src='{{thumbnail.imageUrl}}'
        alt='Image of {{title}}'
        class="productImage"
       
      /></td>
           {{/if}}
      {{#if price}}
      <td class="actionButton" style=""> <a href='/edit-product/{{_id}}'>Edit</a>
       <a href=''>Delete</a>
            {{/if}}
  </td>
</tr>
  {{/each}}

    </tbody>
  </table>
</section>