<head>
  
    <link rel='stylesheet' href='../../css/getProductList.css' />
    
</head>

<section> 
  <table class="tableConatiner">
    <thead class="tableHeadContainer">
      <tr class="tableHead">
        <th>Title</th>
        
        <th>Price</th>
        
        <th>Image</th>
        
        <th>Action</th>
      </tr>
    </thead>

    <tbody class="tableBodyContianer">

  {{#each productList}}
    <tr class="tableDataRow">

      <td>{{title}}</td>
       {{#if price}}
      <td>{{price}} Rs</td>
           {{/if}}
             {{#if price}}
      <td> <img
        src='{{thumbnail.imageUrl}}'
        alt='Image of {{title}}'
        class="productImage"
       
      /></td>
           {{/if}}
      {{#if price}}
      <td id="actionButton" style=""> 
        <a href='/edit-product/{{_id}}' class="editLink">Edit</a>
       <a href='/delete-product/{{_id}}' id="deleteAnker"  class="deleteLink"> Delete</a>
            {{/if}}
  </td>
</tr>
  {{/each}}

    </tbody>
  </table>
</section>

<script>
document.addEventListener('DOMContentLoaded', () => {

  const deleteLinks = document.querySelectorAll('.deleteLink');

  deleteLinks.forEach(link => {
    link.addEventListener('click', (event) => {

      const confirmation = confirm('Are you sure you want to delete this product?');

       if (!confirmation) {
        event.preventDefault();
      }
    });
  });
});


</script>