<section>


  <table>
    <thead>
      <tr>
        <th>Title</th>
        
        <th>Price</th>
        
        <th>Image</th>
        
        <th>Action</th>
      </tr>
    </thead>

    <tbody>

  {{#each productList}}
    <tr>
      <td>{{title}}</td>
      <td>{{price}} $</td>
      <td> <img
        src='{{thumbnail}}'
        alt='Image of {{title}}'
       
      /></td>

      <td class="actionButton" style=""> <button class="editButtonProduct"><a href='/edit-product/{{_id}}'>Edit</a></button>
      <button  class="editButtonProduct"> <a href=''>Delete</a> </button>
  </td>

  {{/each}}

    </tbody>
  </table>
</section>