<section> 
  <table>
    <thead>
      <tr class="tableHead">
        <th>Title</th>
        
        <th>Price</th>
        
        <th>Image</th>
        
        <th>Action</th>
      </tr>
    </thead>

    <tbody>

  {{#each productList}}
    <tr class="tableDataRow">
      <td>{{title}}</td>
      <td>{{price}} $</td>
      <td> <img
        src='{{thumbnail}}'
        alt='Image of {{title}}'
       
      /></td>

      <td class="actionButton" style=""> <a href='/edit-product/{{_id}}'>Edit</a>
       <a href=''>Delete</a>
  </td>

  {{/each}}

    </tbody>
  </table>
</section>