<head>
  <link rel='stylesheet' href='../../css/createProduct.css' />
    
</head>

  <section 
  style="width: 100%;"
  id='createProductCont ainer'
  >
   
    <form
      class='formContainer'
      enctype='multipart/form-data'


      action="{{#if mode}}/edit-product/{{data._id}}{{else}}/create-product{{/if}}"
      method='post'
     
    > <h1 style="font-size: 25px;">
      {{#if mode}}

        Edit Product
      {{else}}
        Create Product
      {{/if}}

    </h1>
      <div>
        <div>
          <label for='id'>ID</label>
          <input
            class='inputField'
            required
            type='tel'
            id='id'
            name='id'
            placeholder='Id'
            
             {{#if mode}}
              value='{{data.id}}'
             {{else}}
               value='{{data.idCount}}'
            {{/if}}
       disabled
         />
        </div>
        <div>
          <label for='title'>Title</label>
          <input
            class='inputField'
            required
            type='text'
            id='title'
            name='title'
            value='{{data.title}}'
            placeholder='Enter Product Title'
          />
        </div>
        <div>
          <label for='description'>Description</label>

          <input
            class='inputField'
            required
            type='text'
            id='description'
            value='{{data.description}}'
            name='description'
            placeholder='Enter Product description'
          />
        </div>
        <div>
          <label for='price'>Price</label>

          <input
            class='inputField'
            required
            type='tel'
            id='price'
            name='price'
            value='{{data.price}}'
            placeholder='Enter Product price'
          />
        </div>
        <div>
          <label for='discountPercentage'>Discount Percentage</label>
          <input
            class='inputField'
            required
            type='tel'
            id='discountPercentage'
            value='{{data.discountPercentage}}'
            name='discountPercentage'
            placeholder='Enter Product discountPercentage'
          />
        </div>
        <div>
          <label for='rating'>Rating</label>
          <input
            class='inputField'
            required
            type='tel'
            id='rating'
            name='rating'
            value='{{data.rating}}'
            placeholder='Enter Product rating'
          />
        </div>
        <div>
          <label for='stock'>Stock</label>
          <input
            class='inputField'
            required
            type='tel'
            id='stock'
            value='{{data.stock}}'
            name='stock'
            placeholder='Enter Product stock'
          />
        </div>
        <div>
          <label for='brand'>Brand</label>
          <input
            class='inputField'
            required
            type='text'
            id='brand'
            value='{{data.brand}}'
            name='brand'
            placeholder='Enter Product brand'
          />
        </div>
       <div style="flex-direction: column; gap: 5px;">
       <div class="CreateProductImage" style="">

        <h3>Images</h3>
      <label for="ProductImage" style="border: 1px solid black; display: flex;align-items: center;justify-content: center; border-radius: 5px; background-color: white; font-size: 15px; cursor: pointer;padding:4px ;">Add Image <input type="file"  name='image' id="ProductImage"  onchange="previewImages(event)" style="display: none;" multiple></label h>
       </div>

<div class="uploadProductImage" style="">
  {{#each data.images}}
    {{#if this}}
       <div style=";">
        <img src="{{this.productUrl}}" alt="Product Image" width="70%" height="50%">
      {{#if mode}}

      {{else}}
      <div>
          Delete: <input type="checkbox" name="deleteImage" value="{{this.productPublicId}}">
        </div>
      {{/if}}
        
      </div>
    {{/if}}
  {{/each}}
  
   <div style="display: flex;  width: 15%; gap: 5px;" id="DisplayProductImage"></div>
</div>
   
        
         </div>

       


        <div class="ThumbProdContinerPArent">
          <div class="ThumbProdContiner" style="">
          <label for='thumbnail'>Thumbnail</label>

<label class="thumbnail1" for="thumbnail1"  
       >
       Change
</label>
          </div>
         
           <div class="thumbPoductImgContainer" style="">


            <img src="{{data.thumbnail.imageUrl}}" class="thumbPoductImg" alt="Product Image"  id="DisplayProductThumbnailImage">
          
           <input type="file"   id='thumbnail1'
            name='thumbnailImg'
             onchange="previewThumbnailImages(event)" 
       style="display:none;"
       >
  </div>

        </div>
       <div>
    <label for='category'>Category</label>
         {{#if mode}}

          <input
            class='inputField'
            required
            type='text'
            id='category'
            name='category'
            id='brand'
            value='{{data.category}}'
            placeholder='Enter Product category'
          />

      {{else}}
         <select
          class='inputField'
          required
          id='category'
          name='category'
        >
          {{#each data.category}}
            <option value="{{this}}" >{{this}}</option>
          {{/each}}
        </select>
      {{/if}}
          
         </div>
      </div>

      
        <button class='createProductButton'>
            {{#if mode}}

       Update Product
      {{else}}
        Create Product
      {{/if}} 
        </button>
    </form>

  </section>

<script>
  function previewImages(event) {
    const input = event.target;
    const imagePreviewContainer = document.getElementById('DisplayProductImage'); // Assuming this is the container where images will be shown

    while (imagePreviewContainer.firstChild) {
      imagePreviewContainer.removeChild(imagePreviewContainer.firstChild); // Clear existing images
    }

    if (input.files) {
      Array.from(input.files).forEach(file => {
        const reader = new FileReader();
        reader.onload = function (e) {
          const imgElement = document.createElement('img');
          imgElement.src = e.target.result;
        imgElement.style.width = '100%';  // Set width to 50%
          imgElement.style.height = '100%'; // Set height to 70%
          imgElement.style.objectFit = 'cover'; // Optional: Ensure the image fills the container
            imagePreviewContainer.appendChild(imgElement);
        };
        reader.readAsDataURL(file);
      });
    }
  }



 function previewThumbnailImages(event) {
    const input = event.target;
    const srcImage = document.getElementById('DisplayProductThumbnailImage'); // Assuming this is the container where images will be shown
const thumbnailInput=document.getElementById("thumbnail1")
   
   
    if (input.files[0]) {
        const reader = new FileReader();
        reader.onload = function (e) {
           srcImage.src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    }
  }


</script>
