

  <section 
  id='createProductContainer'
  >
   
    <form
      class='formContainer'
      {{!-- action='/create-product' --}}
      action="{{#if mode}}/edit-product/{{data._id}}{{else}}/create-product{{/if}}"
      method='post'
      {{!-- enctype='multipart/form-data' --}}
    > <h1>
      {{#if mode}}

        Edit Product
      {{else}}
        Create Product
      {{/if}}

    </h1>
      <div>
        <div>
          <label for='id'>ID</label>
          <input
            class='inputField'
            required
            type='tel'
            id='id'
            name='id'
            placeholder='Id'
            value='{{data.id}}'
          />
        </div>
        <div>
          <label for='title'>Title</label>
          <input
            class='inputField'
            required
            type='text'
            id='title'
            name='title'
            value='{{data.title}}'
            placeholder='Enter Product Title'
          />
        </div>
        <div>
          <label for='description'>Description</label>

          <input
            class='inputField'
            required
            type='text'
            id='description'
            value='{{data.description}}'
            name='description'
            placeholder='Enter Product description'
          />
        </div>
        <div>
          <label for='price'>Price</label>

          <input
            class='inputField'
            required
            type='tel'
            id='price'
            name='price'
            value='{{data.price}}'
            placeholder='Enter Product price'
          />
        </div>
        <div>
          <label for='discountPercentage'>Discount Percentage</label>
          <input
            class='inputField'
            required
            type='tel'
            id='discountPercentage'
            value='{{data.discountPercentage}}'
            name='discountPercentage'
            placeholder='Enter Product discountPercentage'
          />
        </div>
        <div>
          <label for='rating'>Rating</label>
          <input
            class='inputField'
            required
            type='tel'
            id='rating'
            name='rating'
            value='{{data.rating}}'
            placeholder='Enter Product rating'
          />
        </div>
        <div>
          <label for='stock'>Stock</label>
          <input
            class='inputField'
            required
            type='tel'
            id='stock'
            value='{{data.stock}}'
            name='stock'
            placeholder='Enter Product stock'
          />
        </div>
        <div>
          <label for='brand'>Brand</label>
          <input
            class='inputField'
            required
            type='text'
            id='brand'
            value='{{data.brand}}'
            name='brand'
            placeholder='Enter Product brand'
          />
        </div>
        <div>
          <label for='category'>Category</label>
          <input
            class='inputField'
            required
            type='text'
            id='category'
            name='category'
            id='brand'
            value='{{data.category}}'
            placeholder='Enter Product category'
          />
        </div>
        <div>
          <label for='thumbnail'>Thumbnail</label>
          <input
            class='inputField'
            required
            value='{{data.thumbnail}}'
            type='text'
            id='thumbnail'
            name='thumbnail'
            placeholder='Enter Product Title'
          />
        </div>
      

      </div>
  <main class="inputFieldTextAreaDiv">
          <label for='imagesArray'>Images</label>
         <textarea
  class='inputFieldTextArea'
  rows='2'
  cols='40'
  id='imagesArray'
  name='images'
  placeholder='Comma-separated URLs for images'
>{{#each data.images}}{{this}}{{#unless @last}},{{/unless}}{{/each}}</textarea>
        </main>
        
        <button class='createProductButton'>
            {{#if mode}}

       Update Product
      {{else}}
        Create Product
      {{/if}} 
        </button>
    </form>

  </section>

