

  <section 
  id='createProductContainer'
  >
   
    <form
      class='formContainer'
      enctype='multipart/form-data'
      action="{{#if mode}}/edit-product/{{data._id}}{{else}}/create-product{{/if}}"
      method='post'
     
    > <h1 style="font-size: 25px;">
      {{#if mode}}

        Edit Product
      {{else}}
        Create Product
      {{/if}}

    </h1>
      <div>
        <div>
          <label for='id'>ID</label>
          <input
            class='inputField'
            required
            type='tel'
            id='id'
            name='id'
            placeholder='Id'
            value='{{data.id}}'
          />
        </div>
        <div>
          <label for='title'>Title</label>
          <input
            class='inputField'
            required
            type='text'
            id='title'
            name='title'
            value='{{data.title}}'
            placeholder='Enter Product Title'
          />
        </div>
        <div>
          <label for='description'>Description</label>

          <input
            class='inputField'
            required
            type='text'
            id='description'
            value='{{data.description}}'
            name='description'
            placeholder='Enter Product description'
          />
        </div>
        <div>
          <label for='price'>Price</label>

          <input
            class='inputField'
            required
            type='tel'
            id='price'
            name='price'
            value='{{data.price}}'
            placeholder='Enter Product price'
          />
        </div>
        <div>
          <label for='discountPercentage'>Discount Percentage</label>
          <input
            class='inputField'
            required
            type='tel'
            id='discountPercentage'
            value='{{data.discountPercentage}}'
            name='discountPercentage'
            placeholder='Enter Product discountPercentage'
          />
        </div>
        <div>
          <label for='rating'>Rating</label>
          <input
            class='inputField'
            required
            type='tel'
            id='rating'
            name='rating'
            value='{{data.rating}}'
            placeholder='Enter Product rating'
          />
        </div>
        <div>
          <label for='stock'>Stock</label>
          <input
            class='inputField'
            required
            type='tel'
            id='stock'
            value='{{data.stock}}'
            name='stock'
            placeholder='Enter Product stock'
          />
        </div>
        <div>
          <label for='brand'>Brand</label>
          <input
            class='inputField'
            required
            type='text'
            id='brand'
            value='{{data.brand}}'
            name='brand'
            placeholder='Enter Product brand'
          />
        </div>
       <div style="flex-direction: column; gap: 5px;">
      <h3>Add Image: <input type="file"  name='image' id="ProductImage{{@index}}" style="" multiple></h3>

<div style="width: 100%; display: flex; gap: 10px; flex-wrap: wrap;">
  {{#each data.images}}
    {{#if this}}
      <div style="display: flex; flex-direction: column; width: 15%; gap: 5px;">
        <img src="{{this.productUrl}}" alt="Product Image" width="70%" height="50%">
        <div>
          Delete: <input type="checkbox" name="deleteImage" value="{{this.productPublicId}}">
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>
   
        
         </div>

       


        <div style="justify-content: space-between;">
          <label for='thumbnail'>Thumbnail</label>
         
           <div style="display: flex; flex-direction: column ; width: 30%;gap: 5px;">

            <img src="{{data.thumbnail.imageUrl}}" alt="Product Image" width="50%" height="50%">
           <input type="file" style=""    id='thumbnail1'
            name='thumbnailImg'
       >
  </div>

        </div>
       <div>
          <label for='category'>Category</label>
          <input
            class='inputField'
            required
            type='text'
            id='category'
            name='category'
            id='brand'
            value='{{data.category}}'
            placeholder='Enter Product category'
          />
        </div>
      </div>

      
        <button class='createProductButton'>
            {{#if mode}}

       Update Product
      {{else}}
        Create Product
      {{/if}} 
        </button>
    </form>

  </section>

